/*      partie1 */
.partie1{
        color: #FFFFFF;
        background-color: #27242b;
}

.p1-1 a{
        color: #3d9f96;
}

.p1-3 button {
        background-color: #3d9f96;
}

/*      partie2 */
.p2-1 h4{
        color: #3d9f96;
}
/*      partie3 */

/*      partie4 */
.partie4{
        background-color: #27242b;
        color: #FFFFFF;
}

.partie4 h4{
        color: #3d9f96;
}

/*      partie5 */

/*      partie6 */
.p6-2 button {
        color: #FFFFFF;
        background-color: #3d9f96;
}


/*      partie7 */
.partie7 button {
        color: #FFFFFF;
        background-color: #3d9f96;
}
